POSTGRES_DB=vidyaconnect
POSTGRES_USER=vidyaconnect_user
POSTGRES_PASSWORD=localpassword

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test