PORT=3003
NODE_ENV=development

DATABASE_URL=postgresql://vidyaconnect_user:localpassword@localhost:5432/vidyaconnect?schema=attendance

KEYCLOAK_JWKS_URI=http://localhost:8080/realms/VidyaConnect/protocol/openid-connect/certs
AUTH_DISABLED=true

DEV_SCHOOL_ID=dev-school-id
DEV_CLASS_ID=class-8a
DEV_USER_ROLE=TEACHER
DEV_USER_ID=dev-teacher-id
DEV_STUDENT_ID=student-001
DEV_PARENT_ID=dev-parent-id
