PORT=3006
NODE_ENV=development
DATABASE_URL=postgresql://vidyaconnect_user:localpassword@localhost:5432/vidyaconnect?schema=file
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/VidyaConnect/protocol/openid-connect/certs
AUTH_DISABLED=true
DEV_SCHOOL_ID=dev-school-id
DEV_USER_ID=dev-user-id
DEV_USER_ROLE=SCHOOL_ADMIN
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=vidyaconnect-files