PORT=3006
NODE_ENV=development
DATABASE_URL=postgresql://vidyaconnect_user:localpassword@localhost:5432/vidyaconnect?schema=file
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET_NAME=vidyaconnect-files-local